// color
$blackcolor: #161616;
$whitecolor: rgb(249, 250, 252);
$whitecolor2: #ebedf0;
$basecolor: #149eca;
$bgcolor: #1c1e21;

// function
@mixin card($width: 410px) {
    align-self: baseline;
    margin: 5px auto;
    text-align: center;
    background: $whitecolor2;
    color: $blackcolor;
    height: min-content;
    overflow: hidden;
    width: $width;
    border: none;
    border-radius: 16px;
    box-shadow: rgba(245, 242, 242, 0.925) 0px 0.0625em 0.0625em, rgba(245, 242, 242, 0.925) 0px 0.125em 0.5em,
        rgba(245, 242, 242, 0.925) 0px 0px 0px 1px inset;
    transition: all 0.4s ease-in-out;
    cursor: default;
}

// component Content.jsx
section {
    display: grid;
    place-items: center;
    margin: 70px auto;
    header {
        margin: 50px 0;
        h1 {
            font-size: 70px;
            text-align: center;
            font-weight: bolder;
        }
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
        .card {
            @include card();
            &:hover {
                transform: scale(1.05);
                box-shadow: rgba(245, 242, 242, 0.925) 0px 18px 66px 2px;
            }
            &:not(:hover) {
                filter: brightness(0.9);
                opacity: 0.7;
            }

            img {
                object-fit: cover;
                width: 100%;
            }
            .card-body {
                padding: 24px;
                header {
                    margin: 10px 0 13px;
                    hr {
                        text-align: center;
                        width: 100%;
                    }
                    .card-title {
                        text-transform: capitalize;
                        font-size: 36px;
                        margin: 0 0 22px;
                    }
                }
                div {
                    p {
                        text-align: start;
                        word-wrap: break-word;
                        font-size: 19px;
                        strong {
                            color: $basecolor;
                        }
                    }
                }
            }
        }
    }
}

// component Header.jsx
.flex-container {
    margin: 40px auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 30px;
    .box-title {
        word-break: break-all;
        text-align: center;
        margin: 0 0 30px 0;
        &:first-child {
            font-size: 35px;
        }
        P {
            font-size: 28px;
        }
    }
    .box-input {
        text-align: center;
        padding: 20px;
        input {
            margin: 5px 0 30px 0;
            text-indent: 0.4rem;
            letter-spacing: 1.7px;
            border-radius: 50px;
            padding: 12px;
            font-size: 25px;
            width: 32rem;
            height: 3rem;
            border: none;
            outline: none;
        }
        button {
            text-transform: capitalize;
            color: $whitecolor;
            background: $basecolor;
            border: none;
            border-radius: 23px;
            width: 13rem;
            min-width: 20vw;
            height: 3rem;
            font-size: 28px;
            margin-top: 20px;
            font-weight: bolder;
            pointer-events: visible;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                background: #107da1;
            }
        }
    }

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        .load{
            margin-top: 40px;
            grid-column: 1 / 6;
        }
        .card-meals {
            @include card();
            height: max-content;
            .card-meals-img {
                width: 100%;
                object-fit: cover;
            }
            .card-body {
                padding: 20px;
                .card-title {
                    margin: 13px;
                    h1 {
                        font-size: 34px;
                        font-weight: bolder;
                    }
                }
                .card-mealstype {
                    padding: 4px;
                    display: inline-flex;
                    p {
                        margin-inline: 6px;
                        font-size: 19px;
                    }
                }
                .card-link {
                    padding: 5px;
                    display: inline-flex;
                    a {
                        text-decoration: none;
                        margin-inline: 3px;
                        font-size: 23px;
                    }
                    span {
                        display: inline-flex;
                        p {
                            font-size: 18px;
                        }
                    }
                }
                .accordion {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                    div {
                        margin: 10px;
                        h2 {
                            font-size: 32px;
                        }
                    }
                    .accordion-item {
                        transition: all 4s ease;
                        margin-block: 6px 9px;
                        font-size: 17px;
                        width: 100%;
                        p,
                        ul {
                            text-align: start;
                            padding-top: 6px;
                        }
                        ul {
                            li {
                                text-align: center;
                                padding: 1px 0 0 0;
                                list-style: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* responesive - mobile(320px - 420px)*/
@media screen and (320px <= width <= 420px) {
    // component Header.jsx
    .flex-container {
        .box-title {
            margin: 0 0 10px 0;
            &:first-child {
                font-size: 22px;
            }
            p {
                margin: 12px 0 5px 0;
                font-size: 18px;
            }
        }
        .box-input {
            input {
                margin: 5px 0 13px 0;
                font-size: 19px;
                width: 15rem;
                height: 3rem;
            }
            button {
                width: 150px;
                font-size: 24px;
                margin-top: 20px;
            }
        }

        .card-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3rem;
            .card-meals {
                @include card(250px);
                .card-body {
                    padding: 10px;
                    .card-title {
                        h1 {
                            font-size: 28px;
                        }
                    }
                    .card-mealstype {
                        p {
                            margin-inline: 6px;
                            font-size: 17px;
                        }
                    }
                    .card-link {
                        a {
                            font-size: 23px;
                        }
                    }
                    .accordion {
                        font-size: 19px;
                        div {
                            margin: 10px;
                            h2 {
                                font-size: 21px;
                            }
                        }
                        .accordion-item {
                            p,
                            ul {
                                padding-top: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    // component Content.jsx
    section {
        margin: 10px auto 40px;
        header {
            h1 {
                font-size: 50px;
                text-align: center;
                font-weight: bolder;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2.5rem;
            .card {
                @include card(250px);
                .card-body {
                    padding: 24px;
                    header {
                        margin: 5px 0 7px;
                        .card-title {
                            font-size: 32px;
                        }
                    }
                    div {
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

/* responesive - mobile(421px - 520px)*/
@media screen and (421px <= width <= 520px) {
    // component Header.jsx
    .flex-container {
        .box-title {
            &:first-child {
                font-size: 27px;
            }
            p {
                margin: 15px 0 5px 0;
                font-size: 20px;
            }
        }
        .box-input {
            input {
                font-size: 21px;
                width: 20rem;
                min-width: 19rem;
                max-width: 26rem;
            }
            button {
                width: 210px;
                font-size: 23px;
                margin-top: 5px;
            }
        }

        .card-container {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
            .card-meals {
                @include card(340px);
                .card-body {
                    .card-title {
                        h1 {
                            font-size: 35px;
                        }
                    }
                    .card-mealstype {
                        p {
                            font-size: 18px;
                        }
                    }
                    .card-link {
                        a {
                            font-size: 24px;
                        }
                    }
                    .accordion {
                        font-size: 22px;
                        div {
                            margin: 10px;
                            h2 {
                                font-size: 23px;
                            }
                        }
                    }
                }
            }
        }
    }

    // component Content.jsx
    section {
        margin: 50px auto 60px;
        header {
            h1 {
                font-size: 51px;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3.4rem;
            .card {
                @include card(340px);
                .card-body {
                    padding: 24px;
                    header {
                        margin: 5px 0 7px;
                        .card-title {
                            font-size: 38px;
                        }
                    }
                    div {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* responesive - tablet(521px - 650px)*/
@media screen and (521px <= width <= 650px) {
    // component Header.jsx
    .flex-container {
        .box-title {
            &:first-child {
                font-size: 32px;
            }
            p {
                margin: 15px 0 5px 0;
                font-size: 22px;
            }
        }
        .box-input {
            input {
                font-size: 21px;
                width: 27rem;
                min-width: 25rem;
                max-width: 28rem;
            }
            button {
                width: 230px;
                font-size: 25px;
                margin-top: 7px;
            }
        }

        .card-container {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
            .card-meals {
                @include card(395px);
                .card-body {
                    .card-title {
                        h1 {
                            font-size: 41px;
                        }
                    }
                    .card-mealstype {
                        p {
                            font-size: 20px;
                        }
                    }
                    .card-link {
                        a {
                            font-size: 26px;
                        }
                    }
                    .accordion {
                        font-size: 26px;
                        div {
                            margin: 10px;
                            h2 {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }

    // component Content.jsx
    section {
        margin: 50px auto 60px;
        header {
            h1 {
                font-size: 59px;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3.4rem;
            .card {
                @include card(395px);
                .card-body {
                    padding: 24px;
                    header {
                        margin: 5px 0 7px;
                        .card-title {
                            font-size: 41px;
                        }
                    }
                    div {
                        p {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}

/* responesive - tablet(621px - 820px)*/
@media screen and (651px <= width <= 820px) {
    // component Header.jsx
    .flex-container {
        .box-title {
            &:first-child {
                font-size: 35px;
            }
            p {
                margin: 15px 0 5px 0;
                font-size: 24px;
            }
        }
        .box-input {
            input {
                font-size: 23px;
                width: 31rem;
                min-width: 29rem;
                max-width: 33rem;
            }
            button {
                width: 235px;
                font-size: 25px;
                margin-top: 7px;
            }
        }

        .card-container {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
            .card-meals {
                @include card(455px);
                .card-body {
                    .card-title {
                        h1 {
                            font-size: 41px;
                        }
                    }
                    .card-mealstype {
                        p {
                            font-size: 20px;
                        }
                    }
                    .card-link {
                        a {
                            font-size: 26px;
                        }
                    }
                    .accordion {
                        font-size: 26px;
                        div {
                            margin: 10px;
                            h2 {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }

    // component Content.jsx
    section {
        margin: 50px auto 60px;
        header {
            h1 {
                font-size: 59px;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3.4rem;
            .card {
                @include card(455px);
                .card-body {
                    padding: 24px;
                    header {
                        margin: 5px 0 7px;
                        .card-title {
                            font-size: 41px;
                        }
                    }
                    div {
                        p {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}

/* responesive - tablet(821px - 960px)*/
@media screen and (821px <= width <= 960px) {
    // component Header.jsx
    .flex-container {
        .box-title {
            &:first-child {
                font-size: 31px;
            }
            p {
                margin: 13px 0 5px 0;
                font-size: 24px;
            }
        }

        .card-container {
            grid-template-columns: 2fr 2fr;
            grid-gap: 3rem 0;
            .card-meals {
                @include card(335px);
                .card-body {
                    .card-title {
                        h1 {
                            font-size: 41px;
                        }
                    }
                    .card-mealstype {
                        p {
                            font-size: 20px;
                        }
                    }
                    .card-link {
                        a {
                            font-size: 26px;
                        }
                    }
                    .accordion {
                        font-size: 26px;
                        div {
                            margin: 10px;
                            h2 {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }

    // component Content.jsx
    section {
        //    margin: 50px auto 60px;
        header {
            h1 {
                font-size: 59px;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-gap: 4rem;

            .card {
                @include card(355px);
                .card-body {
                    padding: 24px;
                    header {
                        margin: 5px 0 7px;
                        .card-title {
                            font-size: 41px;
                        }
                    }
                    div {
                        p {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}

/* responesive - laptop(961px - 1140pxpx)*/
@media screen and (961px <= width <= 1140px) {
    // component Header.jsx
    .flex-container {
        .card-container {
            grid-template-columns: 2fr 2fr;
            grid-gap: 3rem 0;
            .card-meals {
                @include card(410px);
                .card-body {
                    .card-title {
                        h1 {
                            font-size: 45px;
                        }
                    }
                    .card-mealstype {
                        p {
                            font-size: 20px;
                        }
                    }
                    .card-link {
                        a {
                            font-size: 26px;
                        }
                    }
                    .accordion {
                        font-size: 26px;
                        div {
                            margin: 10px;
                            h2 {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
        }
    }

    // component Content.jsx
    section {
        //    margin: 50px auto 60px;
        header {
            h1 {
                font-size: 59px;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-gap: 4rem;
            .card {
                @include card(410px);
                .card-body {
                    padding: 24px;
                    header {
                        margin: 5px 0 7px;
                        .card-title {
                            font-size: 45px;
                        }
                    }
                    div p {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}

/* responesive - laptop | desktop | TV (1141px - 1200px)*/
@media screen and (1141px <= width <= 1200px) {
    // component Header.jsx
    .flex-container {
        .card-container {
            grid-template-columns: 2fr 2fr 2fr;
            grid-gap: 3rem 2.2rem;
            .card-meals {
                @include card(330px);
            }
        }
    }

    // component Content.jsx
    section {
        margin: 10px auto 60px;
        .grid-container {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-gap: 3rem;
            .card {
                @include card(330px);
            }
        }
    }
}