// color
$navcolor: #232730;
$whitecolor: rgb(249, 250, 252);
$basecolor: #149eca;

// component Navabr.jsx
.navbar {
    display: flex;
    text-align: start;
    align-items: center;
    width: 100%;
    height: 12.4vh;
    max-height: 15vh;
    background: $navcolor;
    padding: 25px 40px;
    margin-bottom: 2rem;
    cursor: default;
    .nav-logo {
        margin: 0 6pt;
        img {
            transition: all .3s ;
            animation: rotateLogo 20s infinite linear;
            animation-duration: 9s;
            width: 45px;
            height: 45px;
            &:hover{
                filter: drop-shadow(0px 0px 14px $basecolor) saturate(1.9);
            }
        }
    }
    .nav-title {
        margin-inline: 2.5pt;
        color: $whitecolor;
        transition: all 0.4s ease;
        h1 {
            font-size: 30px;
            letter-spacing: 1.1px;
        }
        &:hover {
            color: $basecolor;
        }
    }
}

@keyframes rotateLogo { 
    100%{
        transform: rotate(360deg);
    }
}

/* responesive - mobile(320px - 420px)*/
@media screen and (320px <= width <= 420px){
    .navbar {
        justify-content: center;
        width: 100%;
        .nav-logo {
            margin: 0 5pt;
        }
        .nav-title {
            margin-inline: 4pt;
            h1 {
                font-size: 25px;
            } 
        }
    }
}


/* responesive - mobile | tablet (421px - 820px)*/
@media screen and (421px <= width <= 820px){
    .navbar {
        justify-content: center;
        width: 100%;
        .nav-logo {
            margin: 0 5pt;
        }
        .nav-title {
            margin-inline: 4pt;
            h1 {
                font-size: 28px;
            }
        }
    }
}